.InputField{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
.input{
  width: 80%;
  height: 30pt;
}
.button{
  width:20%;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  color: #ffffff;
  background-color: #DF69E8;
  border: none;
}